@keyframes blink {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.typing {
    animation: blink 1.5s infinite;
}

.hidden {
    display: none;
}

#zoomed-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: hidden;
    z-index: 1000;
}

#zoomed-image img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

disabled-div {
    pointer-events: none;
    opacity: 0.5;
}

.content {
    transition: opacity 0.5s ease-in-out;
}

.hide {
    opacity: 0;
}